/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
img{max-width:100%;}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

a, button {
  outline: none;
}
@font-face {
	font-family: 'Open Sans', sans-serif;
}
*:focus {
	outline: thin dashed #666666;
}
html {
	--primary-site-color : #4a97ff;
	--primary-background-color: #18191c;
	--primary-background-color--light: #222427;
	--primary-background-color--lighter: #35383c;
	--button-background-color: #303338;
	/*--ashu-color-white: #;*/
	--ashu-color-gray--light: #bbbbbb;
	--ashu-color-gray--lighter : #555555;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: var(--primary-background-color);
	font-size:100%;
	border: 0;
	overflow-x: hidden;
}

.site-wrapper {
	overflow-x: hidden !important;
}

.main-wrapper {
	width: 100vw;
	overflow-x: hidden;
}

.hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}

.yellow{
	color: #fff200;
}

.blue{
	color: var(--primary-site-color) !important;
}

.yellow, .blue{
	font-size: 101%;
	letter-spacing: 1.8px;
	cursor: pointer;
}

.images-container{
	position: relative;
	width: 70%;
	margin: auto;
}

.width90 {
	width: 60%;
	position: relative;
	margin:auto;
}

/*change in scrollbar*/
::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
        border-radius: 1px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 10px rgba(255,255,255,0.4); 
    }

.marginLeft {
    margin-left: 3%;
}

/*---start-wrap---*/
.wrap {
	width: 80%;
	margin: 0 auto;
}

/*---start-header---*/
.quotation-mark {
	font-weight: 600;
	font-size: 22px;
	margin: 5px;
}

.nav_settings--button {
	position: fixed;
	left: 50px;
	bottom: 50px;
	background: var(--button-background-color);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 5;
}

.nav_settings--wrapper {
	width: 300px;
	position: fixed;
	bottom: 100px;
	left: 40px;
	height: 32%;
	opacity: 0;
	background: var(--primary-background-color--light);
	overflow: hidden;
	z-index: 4;
	border-radius: 4px;
	pointer-events: none;
	box-shadow: 0px 2px 8px 0px #1b1b1bc4;
	transition: 0.2s all;
	transform: translateY(-20px);
}

.nav_settings--wrapper::before {
	/*display: block;*/
	position: absolute;
	content: "";
	left: 20px;
	width: 0;
	height: 0;
	/*top: 100%;*/
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    border-top: 8px solid var(--button-background-color);
    clear: both;	
}

.nav--expanded {
	pointer-events: auto;
	opacity: 1;
	transform: translateY(-10px);
}

.nav_settings--icon {
	color: var(--primary-site-color);
	font-size: 18px;
	padding: 6px;
	margin-left: 6px;
	pointer-events: none;
}

.nav_settings--header {
	padding: 15px;
	height: 50px;
	background: var(--primary-background-color--lighter);
}

.nav_settings--header h2 {
	font-size: 14px;
	font-weight: 300;
	color: var(--ashu-color-gray--light);
}

.nav_settings--content {
	padding: 30px;
	color: var(--ashu-color-gray--light);
	font-size: 14px;
	letter-spacing: 0.3px;
	font-weight: 300;
}

.aj-logo {
	display: block;
	margin-left: 30px;
	margin-top: 40px;
}

.aj-logo img {
	width: 40px;
}

.hero {
	height: 100vh;
	overflow: hidden;
}

.hero_content--upper {
	position: relative;
	width: 90%;
	margin: auto;
	margin-top: 80px;
}

.hero_content--lower {
	position: relative;
	width: 80%;
	margin: auto;
	margin-top: 40px;
	min-width: 410px;
	max-width: 910px;
}

.hero_content--lower-inner {
	padding: 30px 50px;
	background: var(--primary-background-color--light);
	border-radius: 4px;
}

.hero_content--lower-inner h1, .hero_content--lower-inner span {
	font-size: 21px;
	color: #cccccc;
	font-weight: 300;
	letter-spacing: 1.2px;
}

.hero_content--lower-inner span {
	font-size: 20px;
}

.hero_usernameInputBox, .hero_usernameInformator {
	margin-top: 15px;
	width: 100%;
	height: 40px;
	padding: 10px;
	background: var(--primary-background-color);
	color: var(--primary-site-color);
	font-size: 12px;
	border: none;
	border-radius: 4px;
	outline: none;
}

.hero_inputBorder::after {
	content:'';
	display: block;
	background: var(--primary-site-color);
	width: 0;
	height: 1px;
	margin: 0 auto;
	border-radius: 4px;
	margin-top: 4px;
	transition: 0.5s width;
}

.hero_usernameInputBox:focus + .hero_inputBorder::after {
	width: 99.1%;
}


.hero_usernameInformator::placeholder {
	color: var(--primary-site-color);
}

.hero_content--right {
	padding: 10px;
	float: left;
	margin: 100px 0 0 20px;
	max-width: 320px;
}

.hero_username--edit {
	margin-left: 5px;
	background: #353a3e;
	padding: 5px;
	border-radius: 2px;
	color: #666666;
	font-size: 10px !important;
	cursor: pointer;
}

.guy {
	position: relative;
	width: 110px;
	height: 220px;
	margin: auto;
	margin-left: 33%;
	margin-top: 24%;
	background: url(../images/newguy.png) no-repeat 0 0;
	background-size: 100%;
	z-index: 2;
}

.guy-angry {
	background: url(../images/newguy-angry.png) no-repeat 0 0;
	background-size: 100%;
}

.couch {
	position: relative;
	width: 249px;
	height: 305px;
	background: url(../images/couch.png) no-repeat 0 0;
	background-size: 100%;
	margin: auto;
	/* margin-left: 18%; */
	margin-top: -299px;
}

.hero_message--button {
	display: flex;
	position: absolute;
	bottom: 55px;
	right: 35px;
	cursor: pointer;
	overflow: hidden;
	z-index: 3;
}

.hero_message--icon {
	position: relative;
	background: var(--button-background-color);
	color: var(--primary-site-color);
	font-size: 20px;
	padding: 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 2;
}

.hero_message--icon i {
	margin-left: 7px;
}

.hero_message--text {
	position: relative;
	width: 0;
	left: -20px;
	top: 7px;
	height: 28px;
	background: #4a97ff;
	overflow: hidden;
	color: #dedede;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	line-height: 30px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	transition: 0.3s all;
}

.hero_message--text span {
	margin-left: 3px;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	transition: .5s all;
}

.hero_message--button:hover .hero_message--text {
	width: 180px;
}

.hero_message--button:hover .hero_message--text span , .hero_message--confirm .hero_message--text span {
	opacity: 1;
	top: 0;
}

.hero_message--confirm .hero_message--icon {
	color: red;
}

.hero_message--confirm .hero_message--text {
	width: 180px;
	background: red;
}

.card-image {
	margin: 10px auto;
}

.feature_zone-wrapper {
	width: 100%;
	background: var(--primary-site-color);
	min-height: 500px;
	padding-top: 70px;
	margin-top: 110px;
}
.feature_zone-icon-wrapper {
	width: 100%;
	max-width: 1200px;
	overflow: hidden;
	padding: 60px;
	margin: auto;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.feature_zone-icons {
	display: flex;
	height: 130px;
	z-index: 4;
	overflow-x: scroll;
}
.feature_zone-icons::-webkit-scrollbar{
	display: none;
}
.feature_zone-icon {
	position: relative;
	max-width: 60px;
	min-width: 60px;
	height: 60px;
	margin: 0 20px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.feature_zone-icon-image {
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 9px 30px 0 rgba(35,39,42,.1);
}
.feature_zone-wave {
	 /* top:100px; */
}

.feature_zone-wave-background--top {
	display: block;
	top: -150px;
}

.feature_zone-wave-background--bottom {
	bottom: -140px;
	z-index: 1;
}
.svg-wave {
	max-height: 200px;
	position: absolute;
	min-width: 1920px;
	left: 0;
	height: auto;
}
.icon-top {
	top: 0;
}
.icon-bottom {
	top: 10px;
	animation-delay: 1s;
}
.icon-middle {
	top: 5px;
	animation-delay: 0.5s;
}
.top-header {
	padding: 3em 0;
	position: relative;
	height: 70px;
}

.resume {
	float: right;
}

.headings {
	position: relative;
	margin: auto;
}

/*.header{
	background:url(../images/back1b.jpg) center top repeat-x;
	background-attachment: fixed;
	min-height: 650px;
	height: 105vh;
	-webkit-animation: backgroundScroll 45s linear infinite;
	animation: backgroundScroll 45s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -1366px 0;}
}
 
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -1366px 0;}
}*/

/*.creativity{
	position: relative;
	width: 250px;
	height: 160px;
	margin: auto;
	background: url(../images/creativity.png) no-repeat 0 0;
	background-size: 100%;
}*/

.top-nav {
	margin-left: 30%;
}

.top-nav ul li{
	display: inline-block;
	margin-left: 1em;
}

.top-nav ul li a{
	font-size: 1.1em;
	color: #cccccc;
	padding: 0.7em 1em;
	display: block;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	font-weight: 300;
}

.top-nav li> a:hover {
	color: #000103;
	background: #cccccc;
}

.da-title h3 {
	width:50%;
	letter-spacing: 0.03em;
}
/*---//End-header---*/
/*---content-----*/
.top-service-grid{
	display: block;
	width:31.33%;
	max-width: 350px;
	height: 320px;
	float:left;
	margin-left: 2%;
	padding: 50px;
	padding-top: 40px;
	text-align:center;
	border-radius: 4px;
	background: var(--primary-background-color--light);
}
.top-service-grid:nth-child(3){
	/* margin-right:0; */
}
.top-service-grid span{
	font-size: 1.2em;
	font-weight: 600;
	color: var(--ashu-color-gray--light);
	margin: 0.5em 0 0.2em 0;
	display:block;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}  

.top-service-grid span:hover {
	color: var(--primary-site-color);
}

.top-service-grid p {
	color: var(--ashu-color-gray--light);
	line-height: 1.5;
	width:90%;
	margin: auto;
	margin-top: 12px;
}
.top-service-grids {
	padding: 2em 5em;
	width: 95%;
	max-width: 1200px;
	margin: auto;
}
.
/*---start-gallery-----*/
.recent-works {
	padding: 4em 0;
	background:url(../images/back1b.jpg) center top repeat-x;
	background-attachment: fixed;
	-webkit-animation: backgroundScroll 45s linear infinite;
	animation: backgroundScroll 45s linear infinite;
}

.gallery{
	margin-top: 4%;
}
#info {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;				
	background:#fcf8e3;
	border:1px solid  #fbeed5;
	width:95%;
	max-width:900px;
	margin:0 auto 40px auto;
	font-family:arial;
	font-size:12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info .info-wrapper {
	padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info a {
	color:#c09853;
	text-decoration:none;
}	
#info p {
	margin:5px 0 0 0;
}
.container { 
	position: relative; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	
}
#filters {
	margin:1% auto 5% auto;
	padding:0;
	list-style:none;
	text-align:center;
}
#filters li {
	display:inline-block;
}
#filters li span{
	/* -webkit-text-stroke: 0.5px; */
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	color: #bbbbbb;
	cursor: pointer;
	text-transform: capitalize;
	text-transform: lowercase;
	font-size: 1em;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	border: 1px solid #dddddd;
	margin-right: 2em;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}
#filters li span:hover{
	/* border:2px solid #FFF; */
	background: rgba(235, 0, 88, 0.51);
}
#filters li span.active {
	background: rgba(235, 0, 88, 0.57);
	color: #bbbbbb;
	border-radius:0.5em;
	/* border-color: #fff; */
	/* text-transform:uppercase; */
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 27.8%;
	margin: 1% 8% 5.8% 0;
	display:none;
	float:left;
	overflow:hidden;
}
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
.portfolio img {
	max-width:100%;
	position: relative;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background:#323232;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	text-transform: uppercase;
	color:#fff;
	position: relative;
	z-index:500;
	padding: 3px 8px;
	font-size: 13px;
}
.portfolio .text-category {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}
/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* end gallery */
#portfoliolist .portfolio:nth-child(3n){
	margin-right:0;
}
.recent-works-head{
	text-align:center;
}
.recent-works-head h3{
	color: #eeeeee;
	font-size:4.5em;
	text-transform:uppercase;
}
.recent-works-head p {
	color: var(--ashu-color-gray--light);
	line-height: 1.5em;
	width: 50%;
	margin: 0 auto;
}

.about-content {
	margin-top: 100px;
}

.about-me-head{
	text-align:center;
	padding-top: 40px;
}
.about-me-head h3{
	color: #444;
	font-size:4.5em;
	text-transform:uppercase;
}
.about-me-head p{
	color: var(--ashu-color-gray--light);
	line-height: 1.5em;
	width: 50%;
	margin: 0 auto;
}

.morebtn{
	background: #eeeeee;
	color: #5E5E5E;
	border-radius: 0.5em;
	text-transform: uppercase;
	display: block;
	padding: 1.5em 3em;
	font-size: 1.2em;
	margin: 0 auto;
	text-align: center;
	/*font-weight: 900;*/
	width: 10%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.morebtn:hover{
	background: #323232;
	color:#FFF;
}

.borderTop{
    border-top: 3px solid #eee;
}
/*----start-skills-----*/
.skills{
	background: #000000;
	padding:3em 0;
}
/*---start-skills-section-----*/
.skills-grid-left{
	width:30%;
	float:left;
}
.skills-grid-left span,.skills-grid2-right span {
	width: 340px;
	height: 270px;
	display: block;
	background: url(../images/blog-pic3.png) no-repeat;
	cursor:pointer;
}
.skills-grid2-right span {
	background: url(../images/blog-pic4.png) no-repeat;
}
.skills-grid-right{
	width:70%;
	float:right;
}
.skills-grid-right h3, .skills-grid2-left h3 {
	font-size: 1.5em;
	color: var(--primary-site-color);
	padding: 0.4em 0;
}

.skills-grid-right p,.skills-grid2-left p{
	color: var(--ashu-color-gray--light);
	font-size: 1.1em;
	margin: 0.7em 0 1.3em 0;
}
.button_skills {
	background: var(--button-background-color);
	color: var(--ashu-color-gray--light);
	border-radius: 4px;
	border-bottom: dotted 1px #444444;
	text-transform: uppercase;
	display: inline-block;
	padding: 1.2em 1.5em;
	font-size: 1em;
	font-weight: 300;
}

.button_skills:hover {
	top: -2px;
}
.skills-grid1 {
	border-bottom: 1px dotted rgba(119, 119, 119, 0.18);
	padding: 3em 0 5em 0;
}
/*----*/
.skills-grid2-left{
	float:left;
	width:70%;
}
.skills-grid2-right{
	float: right;
	width: 27%;
}

.skills-grid2 {
	margin: 4em 0 3em 0;
}
/*end skills*/
/*----start-blog-----*/
.blog {
	background:#F0F1F0;
	padding:3em 0;
}
/*---start-Blog-section-----*/
.blog-grid-left{
	width:30%;
	float:left;
}
.blog-grid-left span,.blog-grid2-right span {
	width: 339px;
	height: 270px;
	display: block;
	background: url(../images/blog-pic3.png) no-repeat;
	cursor:pointer;
}
.blog-grid-right {
	width:70%;
	float:right;
}
.blog-grid-right h3 a ,.blog-grid2-left h3 a {
	font-size: 2em;
	color: #3A494C;
	padding: 0.4em 0;
	font-family: trebuchet ms,'open_sansregular';
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.blog-grid-right h3 a:hover{
	color:#9AD4A6;
}
.blog-grid2-left h3 a:hover{
	color:#A5D3DB;
}
.blog-grid-right p,.blog-grid2-left p{
	color: #515151;
	font-size: 1.4em;
	margin: 0.9em 0 1.4em 0;
}
.blogbtng{
	background: #9AD4A6;
	color: #FFF;
	border-radius: 0.5em;
	text-transform: uppercase;
	display: inline-block;
	padding: 1.2em 1.5em;
	font-size: 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.blogbtng:hover{
	background: #323232;
	color:#FFF;
}
.blog-grid1 {
	border-bottom: 1px solid rgba(119, 119, 119, 0.18);
	padding: 3em 0 5em 0;
}
/*----*/
.blog-grid2-left{
	float:left;
	width:70%;
}
.blog-grid2-right{
	float: right;
	width: 27%;
}
.blogbtnb{
	background: #A5D3DB;
	color: #FFF;
	border-radius: 0.5em;
	text-transform: uppercase;
	display: inline-block;
	padding: 1.2em 1.5em;
	font-size: 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.blogbtnb:hover{
	background: #323232;
	color:#FFF;
}
.blog-grid2 {
	margin: 4em 0 3em 0;
}
/*---start-team----*/
.team{
	background:url(../images/meet-bg.jpg) no-repeat;
	padding:4em 0
}
.team-head{
	text-align:center;
}
.team-head h3{
	color: #FFF;
	font-size: 4.5em;
	/*font-family: 'trump_town_proregular';*/
	text-transform: uppercase;
}
.team-head p{
	color: #EEE;
	line-height: 1.5em;
	width: 50%;
	margin: 0 auto;
}
/*----*/
.team-members{
	width: 90%;
	margin: 6em auto 4em;
}
.team-member{
	width: 28.33%;
	float: left;
	text-align: center;
	background: #FFF;
	margin-right: 7.5%;
	padding-bottom:0.8em;
}
.team-member:nth-child(3){
	margin-right:0;
}
.team-member span a{
	width:80px;
	height:80px;
	display:inline-block;
	background:url(../images/people-pic.png) no-repeat;
}
.team-member span{
	background: #E9E9E9;
	width: 100%;
	padding: 4em 0px;
	display: block;
}
.team-member label{
	color: #383838;
	font-family: trebuchet ms,'open_sansregular';
	font-size: 1.5em;
	margin: 0.3em 0 0.5em 0;
	display: block;
	font-weight: 900;
}
.team-member h4 a{
	color: #383838;
	font-size: 2.5em;
	/*font-family: 'trump_town_proregular';*/
	text-transform: uppercase;
	margin: 0.5em 0 0 0;
	display: block;
}
.team-member  p{
	color: #8F8F8F;
	font-size: 1.1em;
	line-height:1.5em;
	width: 87%;
	margin: 0 auto;
}
.team-member ul li{
	display:inline-block;
	margin-right: 5px;
}
.team-member ul{
	margin: 1em 0;
}
.team-member ul li a{
	width: 46px;
	height: 47px;
	display: block;
}
.facebook{
	background:url(../images/social-icons.png) no-repeat 0px 0px;
}
.twitter{
	background: url(../images/social-icons.png) no-repeat -59px 0px;
}
.pin{
	background: url(../images/social-icons.png) no-repeat -120px 0px;
}
/*------recent-postings-----*/
.recent-posts{
	background: url(../images/post-bg.jpg);
	padding: 4em 0;
}
.post-grids {
	margin: 6em 0 1em;
}
.post-grid{
	width: 29.33%;
	float: left;
	margin-right: 5%;
	text-align: center;
	background: #FFF;
	padding-bottom: 1em;
	margin-bottom: 5em;
	box-shadow: 0px 0px 10px rgba(238, 238, 238, 0.08);
}
.post-grid:nth-child(3){
	margin-right:0;
}
/*----recent-posts-head-----*/
.recent-posts-head{
	text-align:center;
}
.recent-posts-head h3{
	color: #FFF;
	font-size: 4.5em;
	/*font-family: 'trump_town_proregular';*/
	text-transform: uppercase;
}
.recent-posts-head p{
	color: #EEE;
	line-height: 1.5em;
	width: 50%;
	margin: 0 auto;
}
.post-grid span{
	background: #E9E9E9;
	width: 100%;
	padding: 4em 0px;
	display: block;
	cursor:pointer;
}
.post-grid span a{
	width: 80px;
	height: 80px;
	display: inline-block;
	background: url(../images/post-icon.png) no-repeat;
}
.post-grid h4 a{
	color: #383838;
	font-family: trebuchet ms,'open_sansregular';
	font-size: 1.8em;
	margin: 1em 0 0em 0;
	display: block;
	font-weight: 900;
}
.post-grid p{
	color: #909090;
	width: 90%;
	font-size: 1.1em;
	margin: 1em auto;
	line-height: 1.5em;
}
.post-grid label{
	color:#545454;
	font-size:1.2em;
	font-style:italic;
}
/*---start-contact----*/
.contact{
	background: #000000;
	padding:4em 0;
}
.contact-head{
	text-align:center;
}
.contact-head h3{
	color: #D3D0D0;
	font-size: 4.5em;
	/* font-family: 'trump_town_proregular'; */
	/* text-transform: uppercase; */
}
.contact-head p{
	color: var(--ashu-color-gray--light);
	line-height: 1.5em;
	width: 40%;
	margin: 0 auto;
}
.contact-form{
	width: 55%;
	margin: 5em auto;
}
.contact-form input[type="text"],.contact-form textarea{
	background: var(--primary-background-color--light);
	padding: 0.8em 0.8em;
	font-size: 1em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	width: 100%;
	border: none;
	outline: none;
	color: var(--ashu-color-gray--lighter);
	/* font-family: 'open_sansregular'; */
	margin-bottom: 1em;
}
.contact-form textarea{
	height:180px;
	resize:none;
	margin-bottom:1em;
}
.contact-form input[type="submit"]{
	background: var(--primary-site-color);
	color: var(--ashu-color-gray--light);
	border-radius: 4px;
	text-transform: uppercase;
	display: block;
	padding: 20px;
	font-size: 1.1em;
	margin: 0 auto;
	text-align: center;
	border: none;
	width: 23%;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
}
.contact-form input[type="submit"]:hover{top: -1px;box-shadow: 0 9px 30px 0 #23232345;}
/*---start-footer----*/
.footer{
	background: var(--primary-background-color);
}
.footer-grids{
	border-top: 1px solid rgba(82, 82, 82, 0.33);
	padding: 2em 0;
}
.footer-left{
	float:left;
}
.footer-left ul li a{
	width: 67px;
	height: 67px;
	display: block;
}
.footer-left ul li{
	display:inline-block;
	margin-right:8px;
}
.flinkedin{
	background:url(../images/footer-social-icons2.png) no-repeat 0px 0px;
}
.flinkedin:hover{
	background: url(../images/footer-social-icons2.png) no-repeat 0px -67px;
}
.fface{
	background: url(../images/footer-social-icons2.png) no-repeat -68px 0px;
}
.fface:hover{
	background: url(../images/footer-social-icons2.png) no-repeat -68px -67px;
}
.fgit{
	background: url(../images/footer-social-icons2.png) no-repeat -134px 0px;
}
.fgit:hover{
	background: url(../images/footer-social-icons2.png) no-repeat -134px -67px;
}
.finsta{
	background: url(../images/footer-social-icons2.png) no-repeat -199px 0px;
}
.finsta:hover{
	background: url(../images/footer-social-icons2.png) no-repeat -199px -67px;
}
.fpin{
	background: url(../images/footer-social-icons2.png) no-repeat -268px 0px;
}
.fpin:hover{
	background: url(../images/footer-social-icons2.png) no-repeat -268px -67px;
}

.footer-right{
	float: right;
	margin-top: 1em;
	font-family: inherit;
}
.footer-right p{
	color:#9C9D9D;
}
.footer-right p a{
	color: var(--primary-site-color);
}
.footer-right p a:hover{
	color: var(--ashu-color-gray--light);
}
/*---End-footer----*/

/*TOOLTIPS*/
.tooltiptext{
	visibility: hidden;
	min-width: 188px;
	background-color: var(--primary-background-color--light);
	color: var(--ashu-color-gray--light);
	text-align: center;
	border-radius: 4px;
	padding: 5px 5px;
    /* Position the tooltip */
	position: absolute;
	top:-40px;
	left: -20px;
	z-index: 1;
	box-shadow: 0px 3px 19px 3px #151414;
}
.fgit:hover .tooltiptext,
.flinkedin:hover .tooltiptext, .fface:hover .tooltiptext, .fgit:hover .tooltiptext,
.finsta:hover .tooltiptext,.fpin:hover .tooltiptext,
.cn-button:hover .tooltiptext{
    visibility: visible;
}

/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 10px;
	overflow: hidden;
	width: 50px;
	height: 49px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
	bottom: 10px;
}
#toTopHover {
	width: 50px;
	height: 49px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*---//End-wrap-----*/
/*---start-responsive design----*/
@media only screen and (min-width:1280px) {
	.hero_content--upper {
		width: 75%;
	}
	.hero_content--lower {
		width: 58%;
	}
	.wrap{
		width:90%;
	}
	.morebtn {
		width: 12%;
	}
	.blog-grid-right {
		width: 67%;
	}
	.skills-grid-right {
		width: 67%;
	}
	.contact-form {
		width: 60%;
	}
}
@media only screen and (max-width: 1280px) and (min-width:1024px) {
	.wrap{
		width:88%;
	}
	.morebtn {
		width: 12%;
	}
	.blog-grid-right {
		width: 67%;
	}
	.skills-grid-right {
		width: 60%;
	}
	.contact-form {
		width: 60%;
	}
	.post-grid {
		width: 31%;
		margin-right: 3%;
	}	
}
@media only screen and (max-width: 1024px) and (min-width:768px) {
	.hero_content--upper {
		width: 82%;
	}
	.wrap{
		width:90%;
	}
	.morebtn {
		width: 14%;
	}
	.blog-grid-right {
		width: 59%;
	}
	.blog-grid2-left {
		width: 59%;
	}
	.blog-grid2-right {
		width: 38%;
	}
	.skills-grid-right {
		width: 59%;
	}
	.skills-grid2-left {
		width: 59%;
	}
	.skills-grid2-right {
		width: 38%;
	}
	.contact-form {
		width: 70%;
	}
	.post-grid {
		width: 31%;
		margin-right: 3%;
	}	
	.top-nav ul li {
		margin-left: 0em;
	}
	.top-nav ul li a {
		font-size: 1.1em;
		padding: 0.4em 0.8em;
	}
	#filters li span {
		margin-right: 1em;
	}
}
@media only screen and (max-width: 768px) and (min-width:640px) {
	.wrap{
		width:90%;
	}
	.bench{
		width: 105%;
	}
	.top-header {
		padding: 1.5em 0;
	}
	.top-nav {
		float: none;
		text-align:center;
		margin-top:1em;
	}
	.morebtn {
		width: 19%;
	}
	.blog-grid-left {
		width: 100%;
		float: none;
	}
	.blog-grid-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.blog-grid2-left {
		width:100%;
		float:none;
	}
	.blog-grid2-right {
		display:none;
	}
	.skills-grid-left {
		width: 100%;
		float: none;
	}
	.skills-grid-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.skills-grid2-left {
		width:100%;
		float:none;
	}
	.skills-grid2-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.team-member {
		width:100%;
		float: none;
		text-align: center;
		background: #FFF;
		margin-right:0%;
		padding-bottom: 0.8em;
		margin-bottom:1.5em;
	}
	.team {
		background: url(../images/meet-bg.jpg);
	}
	.contact-form {
		width: 80%;
		margin: 2em auto;
	}
	.contact-form input[type="submit"] {
		width: 30%;
	}
	.post-grid {
		width:100%;
		margin-right:0%;
		margin-bottom:1.5em;
	}	
	.top-nav ul li {
		margin-left: 0em;
	}
	.top-nav ul li a {
		font-size: 1.1em;
		padding: 0.4em 0.8em;
	}
	#filters li span {
		margin-right: 0em;
		font-size: 1em;
	}
	.header {
		min-height: 509px;
	}
	.top-service-grids {
		padding: 3em 0;
	}
	.top-service-grid {
		float: none;
		width:100%;
		float: none;
		/* margin-right: 0%; */
		margin: auto;
		margin-bottom: 40px;
	}
	.recent-works-head h3 {
		font-size: 4em;
	}
	.recent-works-head p {
		width: 70%;
	}
	.team-head h3 {
		font-size: 4em;
	}
	.team-head p,.recent-posts-head p,.contact-head p {
		width: 70%;
	}
	.team-members {
		margin: 3em auto 1em;
	}
	.recent-posts-head h3 {
		font-size: 4em;
	}
	.post-grids {
		margin: 3em 0 1em;
	}
	.contact-head h3 {
		font-size: 4em;
	}
	
}
@media only screen and (max-width: 640px) and (min-width:480px) {
	.hero_content--upper {
		width: 95%;
	}
	.wrap{
		width:90%;
	}
	.bench{
		width: 105%;
	}
	.header, .recent-works, .beackgroundRepeat {
    background-attachment:initial;
 	}
	.top-header {
		padding: 1.5em 0;
	}
	.top-nav {
		float: none;
		text-align:center;
		margin-top:1em;
		margin-left: 0px;
	}
	.morebtn {
		width: 23%;
		padding: 1em 2em;
	}
	.blog-grid-left {
		width: 100%;
		float: none;
		text-align:center;
	}
	.blog-grid-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.blog-grid2-left {
		width:100%;
		float:none;
	}
	.blog-grid2-right {
		display:none;
	}
	.skills-grid-left {
		width: 100%;
		float: none;
		text-align:center;
	}
	.skills-grid-right {
		width:100%;
		float:none;
		margin-top:1em;
		text-align:center;
	}
	.skills-grid2-left {
		width:100%;
		float:none;
		text-align:center;
	}
	.skills-grid2-right {
		width:100%;
		float:none;
		margin-top:1em;
		text-align:center;
	}
	.team-member {
		width:100%;
		float: none;
		text-align: center;
		background: #FFF;
		margin-right:0%;
		padding-bottom: 0.8em;
		margin-bottom:1.5em;
	}
	.team {
		background: url(../images/meet-bg.jpg);
	}
	.contact-form {
		width: 80%;
		margin: 2em auto;
	}
	.contact-form input[type="submit"] {
		width: 40%;
		padding: 1.2em 1.1em;
	}
	.post-grid {
		width:100%;
		margin-right:0%;
		margin-bottom:1.5em;
	}	
	.top-nav ul li {
		margin-left: 0em;
	}
	.top-nav ul li a {
		font-size: 1.1em;
		padding: 0.4em 0.8em;
	}
	#filters li span {
		margin-right: 0em;
		font-size: 1em;
	}
	.header {
		min-height: 509px;
	}
	.top-service-grids {
		padding: 3em;
	}
	.top-service-grid {
		float: none;
		width:100%;
		float: none;
		margin-bottom:1em;
	}
	.recent-works-head h3 {
		font-size: 4em;
	}
	.recent-works-head p {
		width: 70%;
	}
	.team-head h3 {
		font-size: 4em;
	}
	.team-head p,.recent-posts-head p,.contact-head p {
		width: 70%;
	}
	.team-members {
		margin: 3em auto 1em;
	}
	.recent-posts-head h3 {
		font-size: 4em;
	}
	.post-grids {
		margin: 3em 0 1em;
	}
	.contact-head h3 {
		font-size: 4em;
	}
	#filters li span {
		padding: 10px 17px;
	}
	.blog-grid-left span, .blog-grid2-right span {
		display: inline-block;
	}
	.blog {
		padding: 0em 0;
	}
	.blog-grid2 {
		display:none;
	}
	.skills-grid-left span, .skills-grid2-right span {
		display: inline-block;
	}
	.skills {
		padding: 0em 0;
	}
	.skills-grid2 {
		display: inline-block;
	}
	.skills-grid2-left span, .skills-grid-right span {
		display: inline-block;
	}
}
@media only screen and (max-width: 480px) and (min-width:320px) {
	.hero_content--upper {
		width: 95%;
	}
	.nav_settings--button {
		left: 10px;
	}

	.nav_settings--wrapper {
		left: 8px;
	}
	.wrap{
		width:90%;
	}
	.bench{
		width: 105%;
	}
	.clone{
		top:3px;
	}
	.top-header {
		padding: 1.5em 0 0 0;
	}
	.top-nav {
		float: none;
		text-align:center;
		margin-top:1em;
		margin-left: 0px;
	}
	.morebtn {
		width: 32%;
		padding: 0.8em 1em;
	}
	.blog-grid-right h3 a, .blog-grid2-left h3 a {
		font-size:1.5em;
	}
	.blog-grid-right p, .blog-grid2-left p {
		font-size: 1.2em;
	}
	.blogbtng {
		padding: 0.7em 1.2em;
	}
	.blog-grid1 {
		padding: 2em 0 3em 0;
	}
	.blog-grid-left {
		width: 100%;
		float: none;
		text-align:center;
	}
	.blog-grid-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.blog-grid2-left {
		width:100%;
		float:none;
	}
	.blog-grid2-right {
		display:none;
	}
	.skills-grid-right h3, .skills-grid2-left h3 {
		font-size:1.5em;
	}
	.skills-grid-right p, .skills-grid2-left p {
		font-size: 1.2em;
	}
	.skillsbtng {
		padding: 0.7em 1.2em;
	}
	.skills-grid1 {
		padding: 2em 0 3em 0;
	}
	.skills-grid-left {
		width: 100%;
		float: none;
		text-align:center;
	}
	.skills-grid-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.skills-grid2-left {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.skills-grid2-right {
		width: 100%;
		float: none;
		text-align:center;
		margin-top:1em;
	}
	.team-member {
		width:100%;
		float: none;
		text-align: center;
		background: #FFF;
		margin-right:0%;
		padding-bottom: 0.8em;
		margin-bottom:1.5em;
	}
	.team {
		background: url(../images/meet-bg.jpg);
		padding: 2em 0;
	}
	.contact-form {
		width:100%;
		margin: 2em auto;
	}
	.contact-form input[type="submit"] {
		width: 40%;
		padding: 0.78em 1.1em;
		font-size: 1.2em;
		border-radius: 0.2em;
		color: #cccccc;
	}
	.post-grid {
		width:100%;
		margin-right:0%;
		margin-bottom:1.5em;
	}	
	.top-nav ul li {
		margin-left: 0em;
	}
	.top-nav ul li a {
		font-size: 1em;
		padding: 0.4em 0.6em;
	}
	#filters li span {
		margin-right: 0em;
		font-size: 0.875em;
	}
	.header {
		min-height: 398px;
	}
	.header, .recent-works, .beackgroundRepeat {
    background-attachment:initial;
 	}
	.top-service-grids {
		padding: 1em;
	}
	.top-service-grid {
		float: none;
		width:100%;
		float: none;
		margin-right: 0%;
		margin-bottom:1em;
	}
	.recent-works-head h3 {
		font-size: 3em;
	}
	.recent-works-head p {
		width: 90%;
	}
	.team-head h3 {
		font-size: 3em;
	}
	.team-head p,.recent-posts-head p,.contact-head p {
		width: 90%;
	}
	.recent-works {
		padding: 2em 0;
	}
	.team-members {
		margin: 1.5em auto 1em;
	}
	.recent-posts-head h3 {
		font-size: 3em;
	}
	.post-grids {
		margin: 1.5em 0 1em;
	}
	.post-grid h4 a {
		margin: 0.8em 0 0em 0;
	}
	.contact-head h3 {
		font-size: 3em;
	}
	#filters li span {
		padding: 10px 9px;
	}
	.blog-grid-left span, .blog-grid2-right span {
		display: inline-block;
	}
	.blog {
		padding: 0em 0;
	}
	.blog-grid2 {
		display:none;
	}
	.skills-grid-left span, .skills-grid2-right span {
		display: inline-block;
	}
	.skills {
		padding: 0em 0;
	}
	.skills-grid2 {
		display: inline-block;

	}
	.post-grid p {
		margin: 0.8em auto 1em auto;
		font-size:1em;
	}
	.contact {
		padding: 2em 0;
	}
	.contact-form input[type="text"], .contact-form textarea {
		padding: 0.8em;
		width: 100%;
		border-radius: 0.3em;
		-webkit-border-radius: 0.3em;
		-moz-border-radius: 0.3em;
		-o-border-radius: 0.3em;
		font-size:1em;
	}	
	.footer-left {
		float: none;
		text-align:center;
	}
	.footer-right {
		margin-top:1em;
		float: none;
		text-align:center;
	}
}
@media only screen and (max-width: 320px) and (min-width:240px) {
	.hero_content--upper {
		width: 95%;
	}
	.wrap{
		width:90%;
	}
	.bench{
		width: 105%;
	}
	.top-header {
		padding: 1.5em 0 0 0;
	}
	.top-nav {
		float: none;
		text-align:center;
		margin-top:1em;
	}
	.header, .recent-works, .beackgroundRepeat {
    background-attachment:initial;
 	}
	.clone{
		top:3px;
	}
	.morebtn {
		width: 50%;
		padding: 0.5em 1em;
		font-size: 1em;
	}
	.blog-grid-right h3 a, .blog-grid2-left h3 a {
		font-size:1.5em;
	}
	.blog-grid-right p, .blog-grid2-left p {
		font-size: 1.2em;
	}
	.blogbtng {
		padding: 0.7em 1.2em;
	}
	.blog-grid1 {
		padding: 2em 0 3em 0;
	}
	.blog-grid-left {
		width: 100%;
		float: none;
		text-align:center;
	}
	.blog-grid-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.blog-grid2-left {
		width:100%;
		float:none;
	}
	.blog-grid2-right {
		display:none;
	}
	.skills-grid-right h3, .skills-grid2-left h3 {
		font-size:1.5em;
	}
	.skills-grid-right p, .skills-grid2-left p {
		font-size: 1.2em;
	}
	.skillsbtng {
		padding: 0.7em 1.2em;
	}
	.skills-grid1 {
		padding: 2em 0 3em 0;
	}
	.skills-grid-left {
		width: 100%;
		float: none;
		text-align:center;
	}
	.skills-grid-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.skills-grid2-left {
		width:100%;
		float:none;
	}
	.skills-grid2-right {
		width:100%;
		float:none;
		margin-top:1em;
	}
	.team-member {
		width:100%;
		float: none;
		text-align: center;
		background: #FFF;
		margin-right:0%;
		padding-bottom: 0.8em;
		margin-bottom:1.5em;
	}
	.team {
		background: url(../images/meet-bg.jpg);
		padding: 2em 0;
	}
	.contact-form {
		width:100%;
		margin: 1em auto;
	}
	.contact-form input[type="submit"] {
		width: 100%;
		padding: 0.6em 1.1em;
		font-size: 1em;
	}
	.post-grid {
		width:100%;
		margin-right:0%;
		margin-bottom:1.5em;
	}	
	.top-nav ul li {
		margin-left: 0em;
		display:block;
	}
	.top-nav ul li a {
		font-size:1em;
		padding: 0.4em 0.1em;
		border-radius:none;
		-webkit-border-radius:none;
		-moz-border-radius:none;
		-o-border-radius:none;
	}
	#filters li span {
		margin-right: 0em;
		font-size: 0.875em;
	}
	.header {
		min-height: 486px;
	}
	.top-service-grids {
		padding: 1em 0;
	}
	.top-service-grid {
		float: none;
		width:100%;
		float: none;
		margin-right: 0%;
		margin-bottom:1em;
	}
	.recent-works-head h3 {
		font-size: 2.3em;
	}
	.recent-works-head p {
		width:100%;
	}
	.team-head h3 {
		font-size: 2.3em;
	}
	.team-head p,.recent-posts-head p,.contact-head p {
		width:100%;
	}
	.recent-works {
		padding: 2em 0;
	}
	.team-members {
		margin: 1.5em auto 1em;
	}
	.recent-posts-head h3 {
		font-size: 2.3em;
	}
	.post-grid span {
		padding: 1em 0px;
	}
	.post-grids {
		margin: 1.5em 0 1em;
	}
	.post-grid h4 a {
		margin: 0.8em 0 0em 0;
		font-size: 1.3em;
	}
	.post-grid label{
		font-size:0.8em;
	}
	.contact-head h3 {
		font-size: 2.3em;
	}
	#filters li span {
		padding: 2px 2px;
	}
	.blog-grid-left span, .blog-grid2-right span {
		display: inline-block;
		width: 264px;
		height: 207px;
		background: url(../images/blog-pic2.png) no-repeat;
		background-size: 100%;
		cursor: pointer;
	}
	.skills-grid-left span, .skills-grid2-right span {
		display: inline-block;
		width: 264px;
		height: 207px;
		background: url(../images/blog-pic3.png) no-repeat;
		background-size: 100%;
		cursor: pointer;
	}
	.team-member h4 a {
		font-size: 2em;
	}
	.team-member label {
		font-size: 1.2em;
	}
	.team-member span {
		padding: 1em 0px;
	}
	.team-member p {
		font-size:0.875em;
	}
	.blog {
		padding: 0em 0;
	}
	.blog-grid2 {
		display:none;
	}
	.skills {
		padding: 0em 0;
	}
	.skills-grid2 {
		display:inline-block;
	}
	.post-grid p {
		margin: 0.8em auto 1em auto;
		font-size: 0.875em;
	}
	.contact {
		padding: 2em 0;
	}
	.contact-form input[type="text"], .contact-form textarea {
		padding: 0.7em;
		width: 92%;
		border-radius: 0.3em;
		-webkit-border-radius: 0.3em;
		-moz-border-radius: 0.3em;
		-o-border-radius: 0.3em;
		font-size: 1em;
	}	
	.contact-form textarea {
		height:100px;
	}
	.footer-left {
		float: none;
		text-align:center;
	}
	.footer-right {
		margin-top:1em;
		float: none;
		text-align:center;
	}

}

@media only screen and (max-width: 768px) {
	.hero_content--upper {
		margin-top: 60px;
		width: 90%;
	}
	.hero_content--lower {
		display: none;
	}
	.switch_container {
		display: none;
	}
	.hero_content--upper-left {
		display: none;
	}
	.hero_content--right {
		float: none;
		margin: auto;
	}
	.mobile_display--none {
		display: none;
	}
	.aj-logo {
		margin-top: 5px;
		margin-left: 5px;
	}
	.feature_zone-icon-wrapper {
		padding: 0px;
	}
}

/*.clone {
  float: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10000;
}*/

.backgroundRepeat{
	/* background:url('../images/bg-repeat2.png') repeat; */
	background: #18191c;
	background-attachment: fixed;
}

.card-shadow {
	-webkit-box-shadow: 0 7px 30px 0 rgba(35,39,42,.1);
	box-shadow: 0px 7px 30px 0 rgba(35, 39, 42, 0.1);
}

.card-shadow:hover {
	-webkit-box-shadow: 0 9px 30px 0 rgba(35,39,42,.1);
	box-shadow: 0px 9px 30px 0 rgba(35, 39, 42, 0.1);
	top: -1px;
}

.wave {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
}

/*@media (max-width:640px) {
  .header, .recent-works, .beackgroundRepeat {
    background-attachment:initial;
  }
}*/
